{{ block "index" . }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
  </head>
  <body>
    {{ template "form" .Form }}
    
    <ul>
      {{ template "contacts" .Data }}
    </ul>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        document.body.addEventListener("htmx:beforeSwap", function(event) {
          if (event.detail.xhr.status === 422) {
            event.detail.shouldSwap = true
            event.detail.isError = false
          }
        })
      })
          
    </script>
      
  </body>
</html>
{{ end }} 

{{ block "form" . }}
<form hx-swap="outerHTML"  hx-post="contacts" >
  <label for="name">Name</label>
  <input type="text" name="name" placeholder="Name" 
  {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} 
  />
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email"
  {{ if .Values.email }} value="{{ .Values.email }}" {{ end }}
  />

  <button type="submit">Submit</button>

  {{ if .Errors.email }} 
    <p style="color: red">{{ .Errors.email }}</p> 
  {{ end }}
</form>
{{ end }}

{{ block "contacts" . }}
<div id="contacts">
    {{range .Contacts}}
      {{ template "contact" . }}
    {{end}}
</div>
{{ end }}


{{ block "contact" . }}
<li>
  <p>Name: {{ .Name }}</p>
  <p>Email: {{ .Email }}</p>
</li>
{{ end}}


{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
  {{ template "contact" . }}
</div>
{{ end }}
